__pycache__/
*.pyc
*.pyo
*.pyd
*.py[co]
*.egg-info/
*.log

.venv/
venv/
env/
ENV/

Pipfile.lock
poetry.lock

backend/static/output/
*.mp4

.vscode/
.history/
*.code-workspace

.DS_Store
Thumbs.db

.env
*.yaml
*.yml